<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HTSE - <%= title %> </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/flex.css" rel="stylesheet" type="text/css">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!--网页标题左侧显示--><link rel="icon" href="images/H2.ico" type="image/x-icon">
  <!--收藏夹显示图标--><link rel="shortcut icon" href="images/H2.ico" type="image/x-icon">

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Page Top</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= title%>&nbsp
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">氢能源</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/hydrogen-station">加氢站</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/team">制氢团队</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">联系我们</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 氢能源简介 -->
  <section id="H2Section" class="bg-light" style="padding-bottom:1rem;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">氢能源知多少</h2>
            <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">氢能源的概念、生产和应用，氢能源的发展现状。</h3>
            <div class="row flex-h">
              <div class="col-lg-9">
                <p class="text-muted" style="text-indent:2rem; text-align:left;">
                  随着煤、石油、天然气等不可再生能源的储量不断减少，使用化石能源带来的全球变暖和环境恶化问题不断加剧，各国纷纷制定能源应对策略。
                  及时调整能源消费结构，积极开发清洁能源，占领能源技术领域的新高地，是我国应对能源挑战的关键。
                </p>
                <p class="text-muted" style="text-indent:2rem; text-align:left;">
                  2019年3月15日，国务院新闻办对《政府工作报告》的83处修订解读中提到，要”推动充电、加氢等设施建设“，这是氢能源首次写入《政府工作报告》，
                  表明了国家对氢能源研究的重视，有人甚至提出2019年有望成为氢产业商业化元年（氢能源元年）。
                  在全球能源系统转型的“弯道”上，对氢能源的制备、存储、运输和应用研究的重视，也是对能源安全的重视。《中国氢能产业研究报告》甚至指出，未来氢能在我国终端能源体系占比“至少”要达到10%，与电力协同互补。
                </p>
              </div>
              <div class="col-lg-3 flex-h flex-hc flex-vc">
                <img class="img-fluid flex-hc flex-vc" src="images/H2.png" style="padding:0.5rem;" alt="">
              </div>
            </div>

            <h4 class="subheading" style="padding-top:1.5rem; padding-bottom:1rem;">1. 什么是氢能源</h4>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              氢（H或H<sub>2</sub>）是一种高效的清洁能源，被誉为21世纪最具发展前景的二次能源。氢的燃烧热量大，是化石燃料以外的一种可持续发展的清洁能源。
            </p>
            <div class="row flex-h">
              <div class="col-lg-4 flex-h flex-hc flex-vc">
                <img class="img-fluid flex-hc flex-vc" src="images/燃烧热统计.jpg" style="padding:0.5rem;" alt="">
              </div>
              <div class="col-lg-8 flex-h flex-hc flex-vc">
                <div class="flex-vc flex-hc" style="padding-top:2rem;">
                  <p class="text-muted" style="text-indent:2rem; text-align:left;">
                    据统计，氢能源的单位燃烧热值大约是天然气的2.4倍、石油的2.7倍、煤炭的6倍。如果能够调整能源消费结构，提高氢能源的使用，那么碳排放和全球气候问题可以得到缓解。
                    而且氢燃烧的产物是水，不产生任何温室气体，对环境几乎零污染，是真正的清洁能源。
                  </p>
                  <p class="text-muted" style="text-indent:2rem; text-align:center;">
                    2&nbspH<sub>2</sub>&nbsp&nbsp+&nbsp&nbspO<sub>2</sub>&nbsp&nbsp=&nbsp&nbsp2&nbspH<sub>2</sub>O
                  </p>
                </div>
              </div>
            </div>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              氢能源是一种二次能源，需要依靠化石能源、核能、风能等一次能源才能生产。常规的制氢方法有以下几种：(1) 蒸汽甲烷重整制氢；(2)甲烷热解制氢；(3)光催化水解制氢；(4)电解水制氢；(5)微生物酶催化制氢。
              氢能源在氢燃料汽车、油品质量升级、石油炼制、金属精炼、肥料生产等领域可以广泛应用。
            </p>
            <img class="img-fluid" src="images/氢能源的应用.png" style="padding:0.5rem;" alt="">


            <h4 class="subheading" style="padding-top:1.5rem; padding-bottom:1rem;">2. 氢能源的发展现状</h4>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              2001年，一个联合国发展计划蜀发起的论坛上，皇家荷兰壳牌公司的主席菲尔·瓦特提出：“石油和天然气是最重要的矿物燃料，它们曾经把整个世界推进了工业时代，但21世纪它们将为以氢经济为基础的能源新制度革命让出发展空间。”
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              从现有数据来看，氢能优势带动氢能源产业发展，短期寻求平稳突破，长期将迎来加速发展。
              放眼全球，氢能源的研究和应用步伐加快，尤其是在一些发达国家，将氢能纳入国家能源体系，支持氢燃料电池、加氢站等的建设。据统计，截止2017年12月，全球燃料电池出货量达670MW，燃料电池乘用车销售累计约6000辆，加氢站数量328座。
            </p>
            <div class="row flex-h">
              <div class="col-lg-8 flex-h flex-hc flex-vc">
                <p class="text-muted flex-hc flex-vc" style="text-indent:2rem; text-align:left;">
                  <strong>美国</strong>在氢气生产方面有所布局，其国内含有Air Products、Praxair等先进气体公司，具有技术领先的小规模电解水制氢公司。同时，美国掌握这液氢储气罐、储气箱等核心技术，在液氢的生产规模、产量和价格等方面占有绝对优势。
                  另外，美国的加氢站建设量很大。截止2017年12月，美国布有67座加氢站，其中加州地区集中度最高。由于加氢站的建设，美国燃料电池乘用车和叉车保有量也领先全球，美国燃料电池液氢使用量非常高，占全年液氢市场的14%。
                  美国拥有世界最大的燃料电池叉车企业Plug Power，超过2万辆燃料电池叉车，进行了超过600万次加氢操作（2017年12月）。
                </p>
              </div>
              <div class="col-lg-4 flex-h flex-hc flex-vc" style="padding:2rem 1rem;">
                <!-- <img class="img-fluid flex-hc flex-vc" src="images/pump1.jpg" style="padding:0 0.5rem 1rem 0.5rem;" alt=""> -->
                <img class="img-fluid flex-hc flex-vc" src="images/pump2.jpg" style="width:92%; border-radius:0.5rem; box-shadow:0rem 0rem 1rem #aaaaaa; -moz-box-shadow:0rem 0rem 1rem #aaaaaa; " alt="">
              </div>
            </div>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              <strong>日本</strong>是资源短缺型国家，积极探索石油以外的能源，日本政府对氢能和燃料电池的推广力度在全世界范围内是最大的。
              因此，日本在家用燃料电池热电联供固定电站和燃料电池汽车商业化运作方面是最成功的。
              另外，日本丰田公司的氢燃料电池车Mirai在行业内也占有领先地位。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              <strong>德国</strong>在氢能方面的推广应用走在欧洲前列，在燃料电池车、通信基站、家庭热电联供电站、加氢站等方面都有很好的应用。
              德国推动H2 Mobility企业、国家氢和氢燃料电池技术创新计划（NIP）、H2Mobility联盟的成立和建设，建立了良好的氢能源发展环境。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              <strong>韩国</strong>在氢能和燃料电池领域虽然发展稍缓，但政府对相关企业大力资助和补贴，例如现代（车企）和氢气加气站，推动燃料电池发电站的斗山集团。
            </p>
            <!-- <img class="img-fluid" src="images/toyota.jpg" style="padding:0.5rem; border-radius:1rem;" alt=""> -->
            <img class="img-fluid" src="images/toyota.jpg" style="margin-bottom:1.2rem; border-radius:0.5rem; box-shadow:0rem 0rem 1rem #aaaaaa; -moz-box-shadow:0rem 0rem 1rem #aaaaaa;" alt="">
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              <strong>我国</strong>在氢能和燃料电池的发展方面也紧随其后，颁布政策支持和鼓励氢能产业的发展。2016年10月中国标准化研究院资源于环境分院和中国电器工业协会发布《中国氢能产业基础设施发展蓝皮书（2016）》，首次提出了我国氢能产业的发展线路图
              《中国制造2025》明确提出燃料电池汽车发展规划，更是将发展氢燃料电池提升到了战略高度。2019年3月，国务院《政府工作报告》修订83处，将推动加氢设施建设写入报告。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              在国家政策引导下，氢能源汽车、加氢站等正在加速研究使用。例如，中国科学院和清华大学等机构与BP集团合作研发氢能清洁能源项目；
              上海舜华新能源系统有限公司研究生产氢能系统即加氢设备，助力上海燃料电池公交建设和多个加氢站建设；中科院上海应用物理研究所研究核能技术在高温电解制氢中的应用。在氢能制备、存储、运输和应用等领域，我国有上百家企业或机构正在研发和应用氢能源。
            </p> 
            <p class="text-muted" style="text-align:left;">
              <strong>参考文献：</strong>
            </p>
            <p class="text-muted" style="text-align:left;">
              [1] BASHIR Sajid,甄强,李榕,李翠霞,刘静波.从碳到氢能源：昨天、今天、明天[J]. 自然杂志,2018,40(06):420-426.<br />
              [2] 氢能特刊：全球氢能源产业发展现状[EB/OL]. (2018-08-06)[2019-04-08]. https://www.jianshu.com/p/5d4c5cabe2b6.<br />
              [3] 赵永志,蒙波,陈霖新,王赓,郑津洋,顾超华,张鑫,张俊峰.氢能源的利用现状分析[J].化工进展,2015,34(09):3248<sub>&macr</sub>3255.<br />
            </p>
          </div>
        </div>
      </div>
    </section>

  <!-- Footer -->
  <footer style="padding:0.3rem 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="copyright">Copyright &copy; HTSE 2019</span>
          </div>
        </div>
      </div>
    </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/01-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Threads</li>
                  <li>Category: Illustration</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/02-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Explore</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/03-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Finish</li>
                  <li>Category: Identity</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/04-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Lines</li>
                  <li>Category: Branding</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/05-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Southwest</li>
                  <li>Category: Website Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="images/img/portfolio/06-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Window</li>
                  <li>Category: Photography</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="javascripts/jqBootstrapValidation.js"></script>
  <script src="javascripts/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="javascripts/agency.min.js"></script>

</body>

</html>
