<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HTSE - <%= title %> </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/flex.css" rel="stylesheet" type="text/css">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!--网页标题左侧显示--><link rel="icon" href="images/H2.ico" type="image/x-icon">
  <!--收藏夹显示图标--><link rel="shortcut icon" href="images/H2.ico" type="image/x-icon">

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Page Top</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= title%>&nbsp
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/hydrogen-energy-resource">氢能源</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">加氢站</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/team">制氢团队</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">联系我们</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 氢能源简介 -->
  <section id="H2Section" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">加氢站简介</h2>
            <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">加氢站原理、分类和现状</h3>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              氢能源燃烧热量大，而且不产生温室气体，是一种高效和清洁的燃料，具有很好的应用前景。
            </p>

            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              氢气作为重要的氢能源载体，为多种终端用户提供能源需求，例如家用燃料电池热电联供系统和氢燃料电池车等。
              其中，氢燃料电池车将成为氢能应用、推动氢能产业发展的主要动因之一。氢能产业与氢燃料电池车的发展存在协同性，加氢站(Hydrogen Refueling Station, HRS)就是两者之间的关键纽带。
              因此，加氢站的建设运营显得尤为重要，将“推动加氢设施建设”写入《政府工作报告》就证明了这一点。
            </p>

            <h4 class="subheading" style="padding-top:1.5rem; padding-bottom:1rem;">1. 制氢原理</h4>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              常用的制氢方法有以下几种：
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (1) 蒸汽甲烷重整制氢
            </p>
            <p class="text-muted" style="text-align:center;">
              (1100℃): &nbsp&nbsp&nbsp&nbspCH<sub>4</sub>&nbsp+&nbspH<sub>2</sub>O&nbsp&rarr;&nbspCO(g)&nbsp+&nbsp3H<sub>2</sub>(g)
            </p>
            <p class="text-muted" style="text-align:center;">
              (350℃): &nbsp&nbsp&nbsp&nbspCO(g)&nbsp+&nbspH<sub>2</sub>O(g)&nbsp&rarr;&nbspCO<sub>2</sub>(g)&nbsp+&nbspH<sub>2</sub>(g)
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              蒸汽甲烷重整制氢工业上较为成熟和经济的制氢工艺。Ni/Al<sub>2</sub>O<sub>3</sub>是甲烷重整治氢中常用的催化剂之一，在它催化下甲烷转化率高达90%～92%。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (2) 甲烷热解制氢
            </p>
            <p class="text-muted" style="text-align:center;">
              CH<sub>4</sub>&nbsp&rarr;&nbspC&nbsp+&nbspH<sub>2</sub>
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              由于C-H键能大，所以甲烷热解制氢要求提供很高的反应温度，通过加入非均相金属催化剂，可以降低甲烷热解制氢的温度。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (3) 光催化水解制氢
            </p>
            <p class="text-muted" style="text-align:center;">
              2&nbspH<sub>2</sub>O&nbsp&nbsp&rarr;&nbsp&nbsp2&nbspH<sub>2</sub>&nbsp&nbsp+&nbsp&nbspO<sub>2</sub>
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              太阳能光解水制氢的反应是非自发的吸热过程，因此必须加入催化剂降低活化能来提高反应速率。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (4) 电解水制氢
            </p>
            <p class="text-muted" style="text-align:center;">
              2&nbspH<sub>2</sub>O&nbsp&nbsp&rarr;&nbsp&nbsp2&nbspH<sub>2</sub>&nbsp&nbsp+&nbsp&nbspO<sub>2</sub>
            </p>
            <!-- <img class="img-fluid" src="images/off-site-HRS-2.png" style="padding:0.5rem;" alt=""> -->
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (5) 微生物酶催化制氢
            </p>


            <h4 class="subheading" style="padding-top:1.5rem; padding-bottom:1rem;">2. 加氢站分类</h4>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              目前的加氢站采用高压压缩氢气的方式储存氢气，包括氢源、纯化系统、压缩系统、储氢系统、加注系统、安全及控制系统等。按照氢源的不同，加氢站可分为两类：外供式加氢站(off-site HRS)和站内制氢加氢站(on-site HRS)。
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (1) 外供式加氢站（站外制氢）
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              顾名思义，外供式加氢站就是氢源不在站内，通过长管拖车、液氢槽车或者管道运输，将氢气从制氢工厂送至加氢站，然后站内压缩、储存、加注。
              由于氢气不在站内制备，所以外供式加氢站的建立并不复杂，可以在加油站的基础上改建，加氢过程与传统燃油车加汽油的过程类似，几分钟即可加满。
            </p>
            <img class="img-fluid" src="images/off-site-HRS-2.png" style="padding:1rem;" alt="">
            <div class="row flex-h">
              <div class="col-lg-8 flex-h flex-hc flex-vc">
                <p class="text-muted flex-hc flex-vc" style="text-indent:2rem; text-align:left;">
                  最简单的外供式加氢站，甚至只是一辆加氢车，将压缩、储存、加注系统集中到一个集装箱，为应急车辆提供加氢服务，这种加氢站称为移动加氢站(Mobile Hydrogen Refueling Station, MHRS)。
                  移动加氢站以固定加氢站或者制氢工厂为母站，在一定的地理区域内运行和服务，与母站一起构成氢气加注网络。
                  这种壳装式的移动加氢站非常方便，具有很大的市场潜力。
                </p>
              </div>
              <div class="col-lg-4 flex-h flex-hc flex-vc" style="padding:2rem 0.1rem;">
                <img class="img-fluid flex-hc flex-vc" src="images/MHRS-2.jpg" style="width:70%; border-radius:0.9rem; box-shadow:0rem 0rem 2rem #aaaaaa; -moz-box-shadow:0rem 0rem 2rem #aaaaaa;" alt="">
              </div>
            </div>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              (2) 站内制氢加氢站（站内制氢）
            </p>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              站内制氢加氢站配备了制氢系统，氢气制备纯化后，压缩、储存、加注。目前，小型的站内制氢加氢站主要采用站内电解水的方法制氢，部分采用天然气重整制氢、甲醇重整制氢、太阳能或风能制氢等。
              站内制氢的方式虽然省去了长管拖车或液氢槽车的运输费用，但是增加了加氢站系统的复杂度，运行成本和维护成本增加。
            </p>
            <img class="img-fluid" src="images/on-site-HRS.png" style="padding:0.5rem;" alt="">

            <h4 class="subheading" style="padding-top:1.5rem; padding-bottom:1rem;">3. 加氢站建设现状</h4>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              欧洲、日本、美国等国家高度重视加氢站建设，逐渐从起步进入一个快速发展阶段。1999年5月，世界上第一座加氢站在德国慕尼黑国际机场建成，此后各国相继推动加氢站的建设。
            </p>
            <div id="station1" class="row flex-h">
              <div class="col-lg-6 flex-h flex-hc flex-vc">
                  <p class="text-muted flex-hc flex-vc" style="text-indent:2rem; text-align:left;">
                    据H2stations.org于2017年2月21日发布的第9期加氢站统计报告，截至2017年1月，全球正在运营的加氢站达274座，其中欧洲106座、亚洲101座、北美64座。加氢站分布数量最多的国家是日本、美国和德国。
                  </p>
              </div>
              <div id="world-station" class="col-lg-6 flex-hc flex-vc" style="width:100%;height:20rem;"></div>
            </div>
            <p class="text-muted" style="text-indent:2rem; text-align:left;">
              我国正在推动加氢站建设，自2007年上海建成第一座加氢站，各省市开始鼓励加氢站基础设施建设。目前，我国已形成了一批从加氢站设计到运营的企业，主要集中在北上广地区。
            </p>
            <div style="row flex-h">
              <div class="col-lg-12 flex-h flex-vc flex-hc">
                <div id="map" class="flex-vc flex-hc" style="width:5rem; height="5rem;></div>
              </div>
            </div>



            <p class="text-muted" style="text-align:left;">
              <strong>参考文献：</strong>
            </p>
            <p class="text-muted" style="text-align:left;">
              [1] 吴竺,傅玉敏,肖方暐,霍超峰.上海世博会氢燃料电池汽车加氢站设计[J].煤气与热力,2013,33(03):18-22.<br />
              [2] 张志芸,张国强,刘艳秋,康启平.我国加氢站建设现状与前景[J].节能,2018,37(06):16-19.<br />
              [3] 王周.我国加氢站建设的发展前景探讨[J].城市燃气,2015(10):28-32.<br />
              [4] 冼静江,林梓荣,赖永鑫,汪双凤.加氢站工艺和运行安全[J].煤气与热力,2017,37(09):51-56.<br />
              [5] BASHIR Sajid,甄强,李榕,李翠霞,刘静波.从碳到氢能源：昨天、今天、明天[J]. 自然杂志,2018,40(06):420-426.<br />
            </p>
          </div>
        </div>
      </div>
    </section>

  <!-- Footer -->
  <footer style="padding:0.3rem 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="copyright">Copyright &copy; HTSE 2019</span>
          </div>
        </div>
      </div>
    </footer>

  <!-- Portfolio Modals -->


  <script type="text/javascript" src="javascripts/echarts.min.js"></script>
  <script type="text/javascript" src="javascripts/echarts-all-3.js"></script>
  <script type="text/javascript" src="javascripts/ecStat.min.js"></script>
  <script type="text/javascript" src="javascripts/china.js"></script>
  <script type="text/javascript" src="javascripts/hstation-echarts.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="javascripts/jqBootstrapValidation.js"></script>
  <script src="javascripts/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="javascripts/agency.min.js"></script>

</body>

</html>
