<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HTSE - <%= title %> </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">
  <link href="css/header-bg-size.css" rel="stylesheet">
  
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Page Top</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= title%>&nbsp
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/hydrogen-energy-resource">氢能源</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/hydrogen-station">加氢站</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/team">制氢团队</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">联系我们</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-color:black; position:relative;">
    <div id="headerDIV" class="container">
      <div class="intro-text">
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
        <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="" style="display:none;"></a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#htseSection" style="position:absolute; bottom:3rem;">项目详情</a>
      </div>
    </div>
  </header>

  <!-- 高温电解制氢项目简介 -->
  <section id="htseSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">高温电解制氢项目</h2>
          <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">基于钍基熔盐堆核能系统的核基高温电解制氢技术的研究</h3>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            核能制氢团队自2011年以来，致力于核基高温电解制氢技术的研究，完成了1kW级高温电解水蒸气制氢，并开展了模块话5kW级高温电解制氢系统的研制。
            在前期研究基础上，将开展核能制氢与二氧化碳加氢催化耦合实验台架及基于固体氧化物电极池的高温电解还原二氧化碳研究两项内容。
          </p>
          <img class="img-fluid" src="images/5kW-HTSE.jpg" alt="">
          <p class="text-muted">&nbsp</p>
          
        </div>
      </div>
    </div>
  </section>

  <!-- 氢能源简介 -->
  <section id="H2Section" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">系统组成</h2>
          <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">对氢能源的介绍。</h3>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            随着煤、石油、天然气等不可再生能源的储量不断减少，使用化石能源带来的全球气候环境恶化问题不断加剧，各国纷纷制定能源应对策略。
            及时调整能源消费结构，积极开发清洁能源，占领能源技术领域的新高地，是我国应对能源挑战的关键。
          </p>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            氢能源首次写入《政府工作报告》：2019年3月15日下午。。。。。“推动充电、加氢等设施建设”。。。。。2019年有望成为氢产业商业化元年。
            氢能源是
          </p>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            氢能源是？？？？二次清洁能源，需要一次能源驱动才能生产？？？可以通过核能、电能、风能、生物质能、石油等化石能源驱动氢能源的生产？？？
            氢能源可应用：转化为电能、提高化石燃料提取效率、氢能源动力、化工。。。。。等。
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- 氢能源简介 -->
  <section id="H2Section" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">系统应用</h2>
          <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">介绍系统应用.-----乔装加氢</h3>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            随着煤、石油、天然气等不可再生能源的储量不断减少，使用化石能源带来的全球气候环境恶化问题不断加剧，各国纷纷制定能源应对策略。
            及时调整能源消费结构，积极开发清洁能源，占领能源技术领域的新高地，是我国应对能源挑战的关键。
          </p>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            氢能源首次写入《政府工作报告》：2019年3月15日下午。。。。。“推动充电、加氢等设施建设”。。。。。2019年有望成为氢产业商业化元年。
            氢能源是
          </p>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            氢能源是？？？？二次清洁能源，需要一次能源驱动才能生产？？？可以通过核能、电能、风能、生物质能、石油等化石能源驱动氢能源的生产？？？
            氢能源可应用：转化为电能、提高化石燃料提取效率、氢能源动力、化工。。。。。等。
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- 加氢站介绍 -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">项目历史</h2>
          <h3 class="section-subheading text-muted" style="font-style:normal; line-height:2rem;">项目发展历史介绍</h3>
          <p class="text-muted" style="text-indent:2rem; text-align:left;">
            项目分为五个阶段:(1)平台建设;(2)实验室验证;(3)模块化5kW制氢系统验证;(4)20kW综合利用系统集成;(5)100kW工业示范。目前项目进展...........
          </p>
          <img class="img-fluid" src="images/项目规划-白背景.png" alt="" style="width:55%; padding:1rem;">
        </div>
        
        <!-- <div class="col-lg-12 text-center" style="padding-top:5rem;">
          <h2 class="section-heading text-uppercase">项目历史</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row"> -->
        <div class="row" style="padding-top:5rem;">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="images/img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="images/img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>March 2011</h4>
                    <h4 class="subheading">An Agency is Born</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="images/img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>December 2012</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="images/img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer style="padding:0.3rem 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <span class="copyright">Copyright &copy; HTSE 2019</span>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="javascripts/jqBootstrapValidation.js"></script>
  <script src="javascripts/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="javascripts/agency.min.js"></script>

  <script src="javascripts/page-index.js"></script>

</body>

</html>
